/*.wrapper {
    width: 960px;
    margin: 0 auto;
}*/

/*Base classes*/
body .wrapper {
    height: 100vh;
    background: rgb(63,76,107);
    background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(96,108,136,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(96,108,136,1)));
    background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(96,108,136,1) 100%);
    background: -o-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(96,108,136,1) 100%);
    background: -ms-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(96,108,136,1) 100%);
    background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(96,108,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 );

    color: #fff;

}

.col-centered {
    float: none;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}
.input-group.top-offset {
    margin-top: 20px;
}

.register-form .input-group-addon {
    /*width: 150px;*/
}

#document-wrapper {
    display: none;
}